$backgroundlite: #6f8de6;
$backgroundsecondlite: #fcfdfd;
$backgrounddark: #e0e5ea;
$coloronelite: #fefefe;
$coloronelitehover: #6f8de6;
$color1dark: #e0e5ea;
$color2lite: #e0e5ea;
$color2dark: #e0e5ea;
